@import 'tailwindcss';

@theme {
    --color-primary: #75c8ff;
    --color-primary-dark: #337eb0;
}

.icon {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 32px;
}

.word {
    @apply bg-primary rounded-xl
    size-full px-4 py-4
    text-white text-xl
    flex items-center;
}

.actions-div {
    @apply h-full ml-auto flex items-center gap-1;
}

.edit-button {
    @apply text-yellow-200 hover:text-yellow-300 duration-200 select-none;
}

.delete-button {
    @apply text-red-400 hover:text-red-500 duration-200 select-none;
}

.shadow-button {
    @apply rounded-full shadow-md shadow-black/25 active:shadow-none duration-200;
}